altair==5.4.1
Bio==1.7.1
biopython==1.84
fastapi==0.115.0
gradio==4.44.0
hdbscan==0.8.38.post1
langchain_text_splitters==0.3.0
matplotlib==3.9.2
nltk==3.9.1
numpy==2.1.1
pandas==2.2.3
pydantic==2.9.2
regex==2024.7.24
Requests==2.32.3
scikit_learn==1.5.2
seaborn==0.13.2
torch==2.4.1
transformers==4.44.2
umap_learn==0.5.6
uvicorn==0.31.0
xmltodict==0.13.0
